.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    width: 50%;
}

.message-box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
    /* color: white */

}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.muted {
    font-size: 10px;
    color: darkblue;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbdef5;
    /* color: white; */
}

.buttons {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #6a7bf9;
    border-radius: 5px;
    
}

.buttons h3 {
    margin: 0 0 20px 0;
    text-align: center;
}

.buttons .join {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons .join input,
.buttons .join button {
    width: 45%;
}

.buttons .create-btn {
    width: 100%;
    padding: 10px;
    background-color: #b1c0f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .create-btn:hover {
    background-color: #8793d1;
    color: #dddddd;
}

.buttons ul {
    color: rgb(191, 25, 25);
    list-style-type: none;
    padding: 0;
}

h3 {
    margin: 20px 0;
    text-align: center;
    color: white;
}

ul {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.container > *:first-child {
    margin-top: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li:last-child {
    margin-bottom: 0;
}

.user-left {
    color: red;
}

.leave-room-btn {
    background-color: #bf2d23; /* Red background */
    color: white; /* White text */
    padding: 12px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 12px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect */
}

.leave-room-btn:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
}

body {
    font-family: Arial, sans-serif;
}

.top-part {
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); Black overlay, 50% opacity */
    background-image: url('/FinalProject/static/flappy.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.buttons {
    width: 300px;
    margin: 100px auto 0; 
}

.join {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

select, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.create-btn {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #6a7bf9;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin-top: 100px;  
}



.logout-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d32f2f; 
}

.btn {
    background-color: #8793d1;
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: #b1c0f3; 
}