<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Flappy Bird</title>
        <link rel="stylesheet" href="../static/flappybird.css">
        <script src="../static/flappybird.js"></script>
    </head>
    <body>
        <canvas id="board"></canvas>
        <div class="controls">
            <a href="{{ url_for('room') }}" class="btn">Go to chat</a>
            <!-- <a href="{{ url_for('game') }}" class="btn">Replay</a> -->
        </div>
    </body>
</html>