{% extends 'base.html' %}
{% block content %}
<div class="message-box">
    <h2>Chat Room: {{code}}</h2>
    <div class="messages" id="messages"></div>
    <form id="message-form">
        <div class="inputs">
            <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
            <button type="submit" name="send" id="send-btn" onClick="sendMessage()">Send</button>
        </div>
    </form>
    <a href="{{ url_for('chat') }}" class="btn">Go Back to Home</a>
</div>

<script type="text/javascript">
    var socketio = io();

    const messages = document.getElementById("messages")

    const createMessage = (name,msg,score) => {
        const content = `
        <div class="text">
            <span>
                <strong>${name} | Score: ${score}</strong>: ${msg}
            </span>
            
            <span class="muted">
                ${new Date().toLocaleString()}
            </span>
        </div>
        `
        messages.innerHTML += content;
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message,data.score);
    });

    const sendMessage = () => {
        const message = document.getElementById("message")
        if(message.value == "") return;
        socketio.emit("message", {data: message.value})
        message.value = "";
    };

    document.getElementById('message-form').addEventListener('submit', function(event) {
        event.preventDefault();
        sendMessage();
    });
</script>
{% for msg in messages%}
<script type="text/javascript">
    createMessage("{{msg.name}}","{{msg.message}}");
</script>
{% endfor %}
{% endblock %}
